@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.countdown {
  color: "#000000";
}

.timeleft {
  margin-right: 0.3125rem;
}

.interval {
  margin-right: 0.625rem;
}

.birthday {
  position: relative;
}

@media (min-width: 992px) {
  .container {
    font-size: 1.875rem;
  }
}
